
.titleuser{
    color: rgb(255, 255, 255);
    font-size: large;
    padding-left: 25px;
    font-weight: 600;
    margin-bottom: 50px;
}
.userbox{
    color: rgb(255, 227, 70);
    text-align: center;
}
.user {
    background-color: #0b002362;
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
    width: 150px;
    text-align: center;
  }