@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.chatContainer {
    height: 100%;
    margin: auto;
    display: grid;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2%;
  }

  .roomTitle {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Noto Sans Thai', sans-serif;
    color: rgb(122, 46, 46);
  }
  .usersTitle {
    font-size: 2rem;
    color: #fff;
    font-family: 'Noto Sans Thai', sans-serif;
  }
  .usersList {
    list-style-type: none;

    color: rgb(153, 217, 234);
  }
  .usersList li {
    margin-bottom: 1px;
  }
  
  /* Messages */
  .messagesColumn {
    height: auto;
    min-height: 500px;
    max-height: 500px;
    min-width: 350px;
    width:70%;
    background-color: #363A72;
    border-radius: 20px;
    overflow: auto;
    padding: 50px 30px 10px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .message {
    background: #bebfd2;
    border-radius: 25px;
    margin-bottom: 12px;
    max-width: auto;
    padding: 30px;
  }
  .msgMeta {
    color: #ffde59;
    font-size: 12pt;
    font-weight: 550;
    padding-left: 1px;
    font-family: 'Prompt', sans-serif;
    font-weight:bold;

  }
  .msgText {
    color: #fff;
    font-size: 15pt;
    font-family: 'Prompt', sans-serif;
  }
  
  /* Message input and button */
  .sendMessageContainer {
    width:auto;
    background-color: #8287d1;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .messageInput {
    padding: 14px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 16.5px;
    font-family: 'Prompt', sans-serif;

  }