.chatContainer {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
  }
  
  /* Room and users component */
  .roomAndUsersColumn {
    border-right: 2px solid #dfdfdf;
    background-color: #dfdfdf;
  }
  .roomTitle {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
  }
  .usersTitle {
    font-size: 1.2rem;
    color: #fff;
  }
  .usersList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 60px;
    color: rgb(153, 217, 234);
  }
  .usersList li {
    margin-bottom: 12px;
  }
  
  /* Messages */
  .messagesColumn {
    height: 600px;
    margin-top: 5%;
    background-color: rgb(36, 38, 59);
    border-radius: 15px;
    overflow: auto;
    padding: 10px 10px 10px 20px;
  }
  .message {
    background: rgb(11, 12, 23);
    border-radius: 15px;
    margin-bottom: 12px;
    max-width: auto;
    padding: 12px;
  }
  .msgMeta {
    color: rgb(153, 217, 234);
    font-size: 0.75rem;
  }
  .msgText {
    color: #fff;
  }
  
  /* Message input and button */
  .sendMessageContainer {
    padding: 16px 20px 20px 16px;
  }
  .messageInput {
    padding: 14px;
    margin-right: 16px;
    width: 70%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
  }