.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 40, 69);
}
.formContainer {
  width: 400px;
  margin: 0 auto 0 auto;
  padding: 32px;
  background: lightblue;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(63, 73, 204);
  font-size: 0.9rem;
}
.input option {
  margin-top: 20px;
}

.box {
background-color: white;
width: 400px;
height: 500px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
}

.form {
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
}

.TitleBox{
font-size: 45pt;
font-weight: 800;
text-align: center;
padding-top: 8%;
padding-bottom: 50px;
}

.buttonjoin{
width: 65%;
}

.Box{
width: 500px;
height: 600px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: rgb(255, 255, 255);
}


.Box1{
  width: 500px;
  height: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  }